@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: #171717;
  --font-secondary: #8f8f8f;
  /* --accent: #8a4fff; */
  /* --accent-light: #c7baff; */
    --accent: #f55535;
    --accent-light: #ffbf9f;
  --bg-primary:#fff;
  --bg-secondary: #fafafa;
  --border: #efefef;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --font-primary: #fff;
    --bg-primary:#161616;
    --bg-secondary: #252525;
    --border: #353535;
  }
} */

body {
  color: var(--font-primary);
  background: var(--bg-primary);
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .btn-primary {
    @apply px-3 py-1 bg-[var(--accent)] text-white rounded-lg duration-75 transition-all shadow-my active:shadow-none active:translate-y-[0.25rem];
  }
}